mixin meta
	title website title
	meta(charset="UTF-8")
	<meta name="viewport" content="width=device-width, initial-scale=1">

mixin head
	include ../models/head
mixin foot
	include ../models/foot
mixin breadcrumbs
	include ../models/breadcrumbs
mixin page-nav
	include ../models/page-nav