//**************  Marketing Up *************
// ul.slick-dots
// 	text-align: center
// 	li
// 		display: inline-block
// 		&.slick-active
// 			button
// 				&:after
// 					content: ""
// 					width: 6px
// 					height: 6px
// 					border-radius: 50%
// 					position: absolute
// 					left: 2px
// 					top: 2px
// 					background: #fff
// 	button
// 		color: transparent
// 		background: transparent
// 		border: 2px solid #fff
// 		width: 14px
// 		height: 14px
// 		margin: 0 4px
// 		cursor: pointer
// 		position: relative
// 		border-radius: 50%
// 		font-size: 0
// 		padding: 0

//////////////////////////////////////////////
//**************  Winner Portal *************
//////////////////////////////////////////////
ul.slick-dots
	text-align: center
	margin: -50px 0 0 50px
	li
		display: inline-block
		background: $brown
		width: 16px
		height: 16px
		margin: 0 4px
		cursor: pointer
		position: relative
		border-radius: 50%
		padding: 0
		&.slick-active
			border: 1px solid #fff
	button
		display: none