button
	border: none
	background: none

.button
	display: inline-block
	font-size: 1.8rem
	line-height: 2.6rem
	background: $brown
	color: #fff
	padding: 0 2.8rem 0.4rem
	transition: background 0.3s ease-out
	&:hover
		color: #fff
		text-decoration: none
		background: $brownD
	&:focus
		color: #fff