.button
	&__blue
		font-size: 16px
		color: #fff
		font-family: $ta

		background-color: #2268c6
		border: none;
		border-bottom: 2px solid $blue
		line-height: 35px
		border-radius: 5px

		cursor: pointer
		+o

		transition: all 0.3s ease

		&:hover, &:focus, &:active
			background-color: $blue
			border-bottom: 2px solid #2268c6