a
	text-decoration: none
	color: $brown
	&:hover, &:focus
		color: $brown
	&:focus
		text-decoration: none


.link
	// @extend %hoverEffectBorderZoomInCenter-reverse
	
	display: inline-block
	position: relative
	line-height: 2rem
	&:before
		content: ""
		height: 1px
		width: 100%
		background: $brown
		position: absolute
		left: 0
		bottom: 0
	&:hover
		text-decoration: none
		color: $brownD
	&:focus
		text-decoration: none
		color: $brown



	
	&--black
		@extend %hoverEffectBorderZoomInCenter
		// @extend %hoverEffectBorderZoomFromLeft


		color: #000
		position: relative
		&:focus
			color: #000
		&:before
			background: $brown
			bottom: -1px
		&:hover
			text-decoration: none
			color: #000
		

	&__inherit
		text-decoration: inherit
		color: inherit
		&:hover, &:focus
			@extend .link__inherit

	&__iconed
		&:after
			left: -28px
			content: ""
			@extend %pos-mid-y
