- var PAGE = "home"

include common/init

//-  Here you can set SEO configs for current page


+doc
html
	+head
	body

		h1 just heading

		//- include parts/header

		//- include parts/home/slider-screens
		//- include parts/home/tools
		//- include parts/home/result-circle
		//- include parts/home/request-form
		//- include parts/home/conversions
		//- include parts/home/reviews
		//- include parts/home/trust
		//- include parts/home/sales-form
		//- include parts/home/txt
		//- include parts/home/blog

		//- include parts/footer

	+foot