include helper/i
<!DOCTYPE html>
html
	head
		title Homepage
		+meta
		link(href="css/bundle.css", rel="stylesheet")
		link(href="css/style.css", rel="stylesheet")
	body

		include parts/header

		

		include parts/footer

	script(src="js/jquery-3.1.1.min.js")
	script(src="js/bundle.js")
	script(src="js/main.js")