@import bourbon
/* template settings  */
$container-width: 1171px

$blue: #1ba1dd
$blue2: #2268c6

$black: #363636
$gray: #7b7b7b

//standart
@import c/c
@import parts/header
@import parts/footer

// tempalate packs

//models
@import models/forms
@import models/section
@import models/buttons
@import models/breadcrumbs

//styles
body
	background-color: #fff


//@import tests