.breadcrumbs
	.container
		ul.breadcrumbs__links
			li: a(href="#").link__black Главная
			li: a(href="#").link__black Блог
			li: a(href="#").link__black Техническое задание: хотел получить ежа, а получил ужа