head
	title Homepage
	+meta
	link(href="css/bundle.css", rel="stylesheet")
	link(href="css/style.css", rel="stylesheet")
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZDVXlBKbxcbUAM9afdsN5iYPNPU1vSV8"></script>