//--------Winner-----
//- .pagenav
//- 	.pagenav__cont
//- 		a(href="#").pagenav__arr.left
//- 		a(href="#").pagenav__arr.right
//- 		.pagenav__links
//- 			a(href="#").pagenav__link 1
//- 			a(href="#").pagenav__link 2
//- 			a(href="#").pagenav__link 3
//- 			span.pagenav__split ...
//- 			a(href="#").pagenav__link 7



//---------MarketingUp-------------
.pagenav
	.pagenav__cont
		span.pagenav__arrow.left.disabled
		a(href="#").pagenav__arrow.right
		.pagenav__links
			a(href="#").pagenav__link.link__under.active 1
			a(href="#").pagenav__link.link__under 2
			a(href="#").pagenav__link.link__under 3
			span.pagenav__split.link__under ...
			a(href="#").pagenav__link.link__under 23
			a(href="#").pagenav__link.link__under 24
			a(href="#").pagenav__link.link__under 25