@import fonts
@import mixins

@import mixin/index
@import models
@import models/init

//@import sprites
// @import sprites/sprites

//sprite groups
// @import sprites/home-sprites
// @import sprites/service-group
// @import sprites/service-cx-group

// @import sprites/sprite-group

//other fixes
// @import fix
// @import modules/wp
// @import modules/bootstrap 



@import animations



body
	padding: 0
	margin: 0
	font-family: $roL
	min-height: 100%

// .container
// 	max-width: $container-width
// 	margin: auto

ul
	list-style: none
	padding: 0
	margin: 0

.rel
	position: relative
.fill
	height: 100%
.cf
	clear: both
.mid
	@extend %pos-mid
.row__center
	text-align: center
.row__flex
	@extend %flex
//reset
li
	list-style: none
p
	font-size: 20px
strong
	font-family: $roBl