@import reset/reset-css
@import fonts
@import reset/reset-project

@import mixins

@import mixin/index
// @import models
@import models/init

//@import sprites
// @import sprites/

//sprite groups
//...

// @import sprites/sprite-group

//other fixes
// @import modules/wp
// @import modules/bootstrap 

@import lib/hoverEffects

@import animations


// .container
// 	max-width: $container-width
// 	margin: auto



.rel
	position: relative
.fill
	height: 100%
.cf
	clear: both
.mid
	@extend %pos-mid
.row__center
	text-align: center
.row__flex
	@extend %flex
.t-cell
	display: table-cell
	vertical-align: middle
p
	font-size: 20px
