%image-cont
	position: relative
	overflow: hidden
=bg($url)//should be changed
	background: url($url) no-repeat center
	background-size: cover
=bg-s($url)
	background: url($url) no-repeat center top
=bg-c($url)
	background: url($url) no-repeat center
	background-size: cover